<div class="container">
    <div class="header-wrapper">
    <h1 class="about-header">About Me</h1>
    <p class="name">My name is <strong>{{ name }}</strong></p>
    <p class="grey-text">Ruby on Rails fron end web developer</p>
    <blockquote>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.\
        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet 
        quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
        et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
    </blockquote>
    <div class="divider"></div>

    </div>

    <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.\
        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet 
        quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
        et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
    </p>
    <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.\
        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet 
        quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
        et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
    </p>
    <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.\
        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet 
        quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
        et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
    </p>
    <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.\
        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet 
        quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
        et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
    </p>
    <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.\
        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet 
        quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
        et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
    </p>
    <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.\
        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet 
        quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
        et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
    </p>
    <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.\
        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet 
        quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
        et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
    </p>
    <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.\
        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet 
        quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
        et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
    </p>
    <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.\
        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet 
        quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
        et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
    </p>
    <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.\
        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet 
        quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
        et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
    </p>
    
</div>

