<div class="section-wrapper" id="home">
  <div class="container section-content home-content" >
        <h1 class="">
          <span class="">HI!</span>
          <br/>
          <span class="">My name is</span>
          <br/>
          <span class="">{{ name }}</span>
        </h1>
        <h2 class="h5-section">
          <span>web developer</span>
        </h2>
        <p class="grey-text light">Ruby on Rails Front End Developer</p>
        <a href="" class="btn">Contact me</a>
  </div>
</div>
