<div class="parallax-container">
  <div class="parallax" appParallax [ratio]="0.5">
      <img src="assets/images/EA_background.jpeg" alt="">
  </div>
</div>

<div class="container">
  <section class="home-grid-container">
      <div class="home-grid">
        <div class="card">
          <img src="assets/images/112.png" alt="">
          <h1>test section</h1>
        </div>
      </div>
      <div class="home-grid">
        <div class="card">
          <img src="assets/images/112.png" alt="">
          <h1>test section</h1>
        </div>
      </div>
      <div class="home-grid">
        <div class="card">
          <img src="assets/images/112.png" alt="">
          <h1>test section</h1>
        </div>
      </div>
      <div class="home-grid">
        <div class="card">
          <img src="assets/images/112.png" alt="">
          <h1>test section</h1>
        </div>
      </div>
      <div class="home-grid">
        <div class="card">
          <img src="assets/images/112.png" alt="">
          <h1>test section</h1>
        </div>
      </div>
  </section>
</div>

  
  