.parallax-container {
  position: relative;
  min-height: 450px;
  overflow: hidden;
  height: auto;
}

.parallax-container .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax-container .parallax img {
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
}
